@{
    ViewBag.Title = "Policy";
}

@section styles {
    <link rel="stylesheet" href="~/Content/Css/Pages/Policy.css" />
}

<div class="container">
    <h1 class="page-heading">
        <i class="fa-solid fa-book"></i>
        Terms Policy
    </h1>
    <p class="page-description">
        This is our terms policy page. When you access to read the articles, or use the services and solutions we provide, it means that you agree to all the provisions of NOSBlog and the terms and conditions under Constitution and applicable laws.
    </p>

    <div class="content-body">
        <ol class="policy-list">
            <li class="policy-item">
                Articles on Website
                <div class="policy-itemContent">
                    Our blog posts are based on the views and knowledge of the author or writer. The articles are for reference only, readers will be responsible for following the blog posts.
                </div>
            </li>
            <li class="policy-item">
                Words when commenting
                <div class="policy-itemContent">
                    - Do not comment on political, religious, racial, or regional issues.<br/>
                    - Do not share bad, fraudulent, virus-containing links.<br />
                    - Do not comment on spam messages.<br />
                    - Do not use vulgar language<br />
                    - Use accented Vietnamese or English.
                </div>
            </li>
            <li class="policy-item">
                Customers use the services and products we provide.
                <div class="policy-itemContent">
                    Do not use products and services to distribute as well as transmit content related to politics, religion, obscene cultural content or illegal content.<br/>
                    Do not use the tools we provide to do business, trade prohibited items, adversely affect others or illegal items. <br/>
                    Take responsibility for problems arising when using products and services in contravention of regulations.
                </div>
            </li>
            <li class="policy-item">
                LIMITATION OF LIABILITY:
                <div class="policy-itemContent">
                    When using the solutions provided by NOSBlog, you understand that we are not directly or indirectly responsible for your activities when you exploit our solutions.
                    <br />
                    We are not liable or indemnify users for any loss of profits, revenue, or reputation arising from the use of the solutions.
                    <br />
                    Personal information and system access passwords you need to be secure and stored in safe places. We refuse to be responsible for any damages resulting from your failure to secure your account.
                    <br />
                    <strong>Visitors to the Website or using solutions and services need to read about our Terms and Conditions, Limitation of Liability.</strong>
                    <br />
                    <strong>Thank you very much for reading!</strong>
</div>
            </li>
        </ol>
    </div>
</div>