﻿<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="footer-colWrapper">
                <img class="footer-logo" src="~/Content/Images/Logo-nobg.png" />
                <span style="font-size: 1.8rem; font-weight: 600; margin-left: 8px;">We're NOS Blogger</span>
                <p class="footer-infoParagraph">
                    Phone: 0121685576
                </p>
                <p class="footer-infoParagraph">
                    Email: nosblog26@gmail.com
                </p>
                <p class="footer-infoParagraph">
                    Address: ấp Phú Nhơn, xã Đông Phú, huyện Châu Thành, tỉnh Hậu Giang
                </p>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="footer-colWrapper">
                <h4 class="footer-title">
                    About NOS Blog
                </h4>

                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/about-us">
                        About us
                    </a>
                </p>

                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/about-us">
                        Contact us
                    </a>
                </p>

                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/Home/Policy">
                       Policy
                    </a>
                </p>

                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/Home/Security">
                        Security
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="footer-colWrapper">
                <h4 class="footer-title">
                    Our blogs
                </h4>

                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/about-us">
                        How to be a blogger in NOS Blog
                    </a>
                </p>
                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/about-us">
                        How to get coins
                    </a>
                </p>
                <p class="footer-infoParagraph">
                    <a class="footer-link" href="/about-us">
                        FAQ
                    </a>
                </p>
            </div>
        </div>
    </div>
    <p class="copyright">
        <span>
            <i class="fa-solid fa-copyright"></i>
            2023.
            Copyright belongs to NOS Team. Provided by NOS
        </span>
        <span>
            <a class="footer-socialItem">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="footer-socialItem">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="footer-socialItem">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="footer-socialItem">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </span>
    </p>
</div>