<div class="container">
    <div class="header--wrapper">
        <img class="header--logo" src="~/Content/Images/Logo.png" alt="Logo" />
        <nav class="header--nav">
            <a class="header--navItem" href="/">Home</a>
            <a class="header--navItem">Blogs</a>
            <a class="header--navItem">Hot</a>
            <a class="header--navItem">Items Shop</a>
            <a class="header--navItem" title="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </nav>

        <div class="header--userActions">
            <a class="header--actionItem" href="/user/login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
            <a class="header--actionItem" href="/user/register">
                <i class="fa-solid fa-user-plus"></i>
                Register
            </a>
        </div>
    </div>
</div>